body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.content{
    position: fixed;
    left: 5%;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    color: #0c0c0c;
    font-weight: 800;
    text-align: left;
    width: 6em;
    font-family: 'Work Sans', sans-serif;
}
.description{
    font-size: 0.7rem;
    font-weight: 400;
    color: #3e3e3e;
    width: 50em;
    font-weight: 400;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 30px;
}
.download_btn_apk{
    border: none;
    background-color: rgb(255, 255, 218);
    color: #ffd438;
    font-weight: 600;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    overflow: hidden;
}
.download_btn_marker{
    margin-left: 10px;
    border: none;
    background-color: rgb(218, 254, 255);
    color: #38d4ff;
    font-weight: 600;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}
img{
    width: 120vh;
    position: fixed;
    right: -4%;
    top: 5%;
}